body {
  background-color: #6cbbbe;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes dotAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dot {
  width: 200px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 200px;
  animation: dotAnimation 2s ease-in-out infinite;
}

.dot > div {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
}

@keyframes boxAnimation {
  0% {
    transform: scaleY(1);
  }
  25% {
    transform: scaleY(2);
  }
  50% {
    transform: scaleY(1);
  }
  75% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}

.box {
  width: 150px;
  display: flex;
  justify-content: space-around;
}

.boxchild {
  width: 20px;
  height: 80px;
  background-color: white;
  animation: boxAnimation 1s ease-in-out infinite;
}

.boxchild:nth-child(2) {
  animation-delay: 0.1s;
}

.boxchild:nth-child(3) {
  animation-delay: 0.2s;
}

.boxchild:nth-child(4) {
  animation-delay: 0.3s;
}

.boxchild:nth-child(5) {
  animation-delay: 0.4s;
}
